<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
</head>

<body>

    <form method="post" action="/election/config">
        <h1>CONFIGURE ELECTION</h1>
        <label for="ElectionName">Election Name: </label>
        <input type="text" name="ElectionName" id="ElectionName">
        <label for="PositionTitle">Position Title:</label>
        <input type="text" name="PositionTitle" id="PositionTitle">
        <label for="CandidateName">Candidate Name: </label>
        <input type="text" name="CandidateName" id="CandidateName">
        <button type="submit">Submit</button>
    </form>

</body>

</html>