<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
        integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <title>Online Voting System</title>
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <div class="navbar-brand">
                    <img src="/img/logo.png" width="200px" height="auto">
                </div>
            </div>

        </nav>

        <div class="form-box">

            <div class="login-container" id="login">
                <div class="top">
                    <header>Forgot Password</header>
                </div>
                <%- include ('./partials/loginErrors') %>
                    <form method="post" action="/forgotPassword?">
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Student Number" name="studentNumber" required>
                            <i class="bx bx-user"></i>
                        </div>
                        
                        <div class="input-box">
                            <input type="submit" class="submit" value="Reset Password">
                        </div>
                    </form>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>